body {
    font-family: Arial, sans-serif;
    background-color: #f0f8f8; /* Tons de verde */
    margin: 0;
    padding: 0;
}

header {
    background-color: #1a936f; /* Verde escuro */
    color: #fff;
    text-align: center;
    padding: 20px 0;
}

main {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

.mensagem-section,
.envio-section {
    background-color: #fff;
    margin-bottom: 20px;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

h2 {
    color: #1a936f; /* Verde escuro */
}

button {
    background-color: #1a936f; /* Verde escuro */
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 4px;
}

button:hover {
    background-color: #156d55; /* Tom mais escuro do verde */
}

footer {
    background-color: #1a936f; /* Verde escuro */
    color: #fff;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    width: 100%;
    bottom: 0;
}
