body{
    background-color: aliceblue;
}

.container-fluid.header {
    margin-top: 0;
    display: flex;
    padding:30px 2%;
    justify-content: space-between;
    background-color: cornflowerblue;
    color: aliceblue;
}

.icone-bars {
    color: aliceblue;
}

.menu{
    display: flex;
    align-items: center;
    font-size: 24px;
}

.logo{

    display: flex;
    align-items: center;

    font-size: 24px;
    margin: 0 auto;
}

.dashboard{
    display: flex;
    padding: 20px;
}

.dashboard-sensor{
    background-color: white;
    width: 1000px;
    height: 550px;
    margin-left: 10px;
    border-radius: 10px;

}

.grafico-container {
    width: 400px; /* Defina a largura desejada */
    height: 300px; /* Defina a altura desejada */
}

.dashboard-comando{
    background-color: white;
    width: 450px;
    height: 500px;
    margin-left: auto;
    margin-right: 10px;
    border-radius: 10px;
}

.dashboard-comando h1 {
    margin-left: 155px;
}

.button{
    background-color: cornflowerblue;
    color: white;
    border: none;
    align-items: center;
    margin-left: 155px;
    margin-top: 20px;
    border-radius: 50px;
    padding: 5px 10px;
}


@media (max-width: 576px) {
    .dashboard-sensor {
        width: 300px;
    }

    .message-list {
        margin-left: 20px;
    }

    .dashboard-comando {
        width: 250px;
    }

    .dashboard-comando h1 {
        margin-left: 20px;
    }

    .button {
        margin-left: 20px;
    }
}

@media (max-width: 480px) {
    .dashboard-sensor {
        width: 250px;
    }

    .message-list {
        margin-left: 10px;
    }

    .dashboard-comando {
        width: 200px;
    }

    .dashboard-comando h1 {
        margin-left: 10px;
    }

    .button {
        margin-left: 10px;
    }
}

@media (max-width: 360px) {
    .dashboard-sensor {
        width: 200px;
    }

    .message-list {
        margin-left: 5px;
    }

    .dashboard-comando {
        width: 150px;
    }

    .dashboard-comando h1 {
        margin-left: 5px;
    }

    .button {
        margin-left: 5px;
    }
}

@media (max-width: 320px) {
    .dashboard-sensor {
        width: 150px;
    }

    .message-list {
        margin-left: 5px;
    }

    .dashboard-comando {
        width: 120px;
    }

    .dashboard-comando h1 {
        margin-left: 5px;
    }

    .button {
        margin-left: 5px;
    }
}


