body{
    background-color: aliceblue;
}

.container-fluid.header {
    margin-top: 0;
    display: flex;
    padding:30px 2%;
    justify-content: space-between;
    background-color: cornflowerblue;
    color: aliceblue;
}

.icone-bars {
    color: aliceblue;
}

.menu{
    display: flex;
    align-items: center;
    font-size: 24px;
}

.logo{

    display: flex;
    align-items: center;

    font-size: 24px;
    margin: 0 auto;
}

.dashboard{
    display: flex;
    padding: 20px;
}

.dashboard-sensor{
    background-color: white;
    width: 1000px;
    height: 550px;
    margin-left: 10px;
    border-radius: 10px;

}

.grafico-container {
    width: 80%;
    height: 200px;
}

.dashboard-comando{
    background-color: white;
    width: 450px;
    height: 500px;
    margin-left: auto;
    margin-right: 10px;
    border-radius: 10px;
}

.dashboard-comando h1 {
    margin-left: 155px;
}

.button{
    background-color: cornflowerblue;
    color: white;
    border: none;
    align-items: center;
    margin-left: 155px;
    margin-top: 20px;
    border-radius: 50px;
    padding: 5px 10px;
}


@media (max-width: 768px) {
    .dashboard {
        flex-direction: column;
    }

    .dashboard-sensor,
    .dashboard-comando {
        width: 100%;
        margin: 10px 0;
    }

    .dashboard-comando h1,
    .button {
        margin-left: 0;
    }
}

@media (max-width: 576px) {
    .dashboard-sensor,
    .dashboard-comando {
        width: 100%;
        margin: 10px 0;
    }
}



