body {
    background-color: aliceblue;
    margin: 0;
    font-family: 'Roboto', Arial, sans-serif;
    line-height: 1.6; 
    font-size: 16px; 
}

.message-list {
    list-style-type: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 0;
    margin: 0;
    border: 1px solid red;
}

#UmidadeDiaria {
    height: 300px;
    width: 100%;
    margin: 20px 0;
}

.caixa1 , .caixa2 , .caixa3 , .caixa4{
    display: flex;
    justify-content:space-between;
    align-items: center;
}

.caixa2 , .caixa3 , .caixa4{
    margin-top: 2.5%;
}

.caixa1 {
    margin-top: 5%;
}

.caixa4{
    margin-bottom: 5%; 
}

.dashboard2 , .dashboard3 , .dashboard7{
    background-color: white;
    height: 320px;
    width: 1090px; 
    padding: 20px;
}
