body {
    background-color: aliceblue;
    margin: 0;
    font-family: 'Roboto', Arial, sans-serif;
    line-height: 1.6; 
    font-size: 16px; 
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Roboto', Arial, sans-serif;
    margin: 0 0 10px 0;
    line-height: 1.2;
}
p, ul, li {
    margin: 0 0 10px 0;
    line-height: 1.6;
}

.message-list {
    list-style-type: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 0;
    margin: 0;
    border: 1px solid red;
}

#UmidadeDiaria {
    height: 250px;
    width: 100%;
    margin: 20px 0;
}

.caixa1 , .caixa2 , .caixa3{
    display: flex;
    justify-content:space-between;
    align-items: center;
}

.caixa2 , .caixa3{
    margin-top: 2.5%;
}

.caixa1 {
    margin-top: 5%;
}

.dashboard2 , .dashboard3{
    background-color: white;
    height: 320px;
    width: 1090px; 
    padding: 20px;
}
.caixa3{
    margin-bottom: 5%;
}
.dashboard5{
    margin-bottom: 5%;
}
